/*
Theme Name: Sensational
Theme URI: http://mythemeshop.com/themes/sensational
Author: MyThemeShop
Author URI: http://mythemeshop.com/
Description: Sensational is a clean, fully responsive theme, which comes with tons of options.
Version: 1.0

*/
/*-[reset]-*/
html { -webkit-font-smoothing: antialiased; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
	overflow-x: hidden;
}
:focus {
	outline: 0;
}
embed, iframe {
	max-width: 100%;
}
pre {
	font-family: monospace;
}
::selection {
	background: #333;
	color: white;
}
::-moz-selection {
	background: #333;
	color: white;
}
body {
	overflow-x:hidden;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	color: #333;
	font: 14px/25px Open Sans, Helvetica Neue,Arial,Helvetica, sans-serif;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wp-caption-text  {}
.sticky {}
.gallery-caption {}
@font-face {
	font-family: 'BreeSerifRegular';
	src: url('fonts/BreeSerif-Regular-webfont.eot');
	src: url('fonts/BreeSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/BreeSerif-Regular-webfont.woff') format('woff'),
	url('fonts/BreeSerif-Regular-webfont.ttf') format('truetype'),
	url('fonts/BreeSerif-Regular-webfont.svg#BreeSerifRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
a {
	color: #41B7D8;
	-webkit-transition: background-color, color 0.2s linear;
	-moz-transition: background-color, color 0.2s linear;
	transition: background-color, color 0.2s linear;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
/*-[ Framework ]-------------------------------*/
.home, .page-template-default, .page-template {
	width: 100%!important;
}
.page {
	width: 1200px;
	margin: 0 auto;
	padding-right: 0em;
	padding-left: 0em;
}
a,
a:hover {
	text-decoration: none;
}
/*-[ Header Area ]-----------------------------*/
#header {
	overflow: hidden;
	float: left;
}
#header {
	padding-right: 11px;
	min-width: 178px;
}
#header_area {
	padding: 0;
	width: 100%;
	height: 53px;
	font-family: 'BreeSerifRegular', Arial, sans-serif;
	background:#fff;
}
.landing #header {
	margin-bottom: 0;
}
.widget-header {
	float: right;
}
#logo a {
	font-size: 16px;
	float:left;
	padding: 4px 15px 0 0;
	font-weight:normal;
}
.text-logo {
	float: left;
	width: 250px;
	font-weight: normal;
	margin: 5px 0 0 0;
	height: 48px;
}
#logo img {
	width: 138px;
	height: 35px;
}
/*-[ Navigation Menu ]-------------------------*/
nav select { display: none; }
.main-navigation {
	float: left;
	padding-top: 4px;
}
.menu ul,
.menu ul li {
	width: 150px;
	background: white;
}
.menu ul ul,
.menu :hover ul :hover ul {
	left: 150px;
	margin-top:0;
}
.menu li:hover ul,
.menu a:hover ul {
	left: 0;
}
.menu {
	border-width: 0 0 0 0;
	position: relative;
	list-style: none;
	z-index: 50;
}
.menu::after,
#content_box::after,
#sidebars::after,
.format_text::after,
ul.sidebar_list::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.menu ul {
	position: absolute;
	visibility: hidden;
	list-style: none;
	z-index: 110;
}
.menu li {
	float: left;
	position: relative;
}
.menu ul li {
	clear: both;
}
.menu a {
	display: block;
	float: left;
	font-size: 15px;
	font-weight: normal;
	color: #666;
	text-decoration: none;
	padding: 10px 7px;
	text-transform: uppercase;
}
.menu a:hover {
	color: #333;
}
.menu li ul a {
	width: 121px;
}
.menu .children {
	margin-top: 45px;
	border: 1px solid #EEE;
}
.menu ul ul {
	position: absolute;
	top: 0;
}
.menu li:hover ul,
.menu a:hover ul,
.menu :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul {
	visibility: visible;
}
.menu :hover ul ul,
.menu :hover ul :hover ul ul {
	visibility: hidden;
}
.sub-menu {
	margin-top: 45px;
	border: 1px solid #EEE;
}
.sub-menu li{
	padding-top:0;
}
.sub-menu ul {
	margin-top:0;
}
.current-menu-item {
	border-top: 4px solid #41B7D8;
}
.current-menu-item a {
	padding-top: 6px;
}
/*-[ Content ]---------------------------------*/
#content_area {
	box-shadow: inset 0 3px 15px 0 rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: inset 0 3px 15px 0 rgba(0, 0, 0, 0.13);
	-moz-box-shadow: inset 0 3px 15px 0 rgba(0, 0, 0, 0.13);
	padding-top: 20px;
	padding-bottom: 20px;
}
#content_area .page {
	background:#fff;
	border: 1px solid #EEE;
}
.headline_area {
	overflow: hidden;
}
.headline_area h1, .headline_area h2 {
	font-weight:normal;
	color: #494949;
	font-size: 45px;
	line-height: 50px;
	text-decoration: none;
	margin-bottom: 10px;
	font-family: 'BreeSerifRegular', Arial, sans-serif;
}
.headline_meta {
	color: #999;
	font-style: italic;
	font-family: Georgia,serif;
	padding: 1px 0 15px;
	margin: 0 0 5px 0;
	border-bottom: 1px #EEE dashed;
	overflow: hidden;
}
.theauthor {
	font-size: 16px;
	margin: 0 15px 0 0;
	float: left;
	margin-top: 2px;
}
.theauthor a {
	color: #444;
	text-decoration: none;
}
.entry-title {
	font-weight:normal;
}
.entry-title a {
	color: #494949;
}
.entry-title a:hover {
	color: #222;
}
.thetime {
	background: url("images/sprite1.png") 0 5px no-repeat;
	padding: 2px 15px 0 20px;
	float:left;
}
.thecategories {
	background: url("images/sprite1.png") 0 -31px no-repeat;
	padding: 2px 15px 0 20px;
	float:left;
}
.thecomments  {
	background: url("images/sprite1.png") 0 -64px no-repeat;
	padding: 2px 15px 0 20px;
	float: left;
}
.themeta a:hover {
	text-decoration: underline;
}
.breadcrumb {
	margin: 0 0 15px 0;
	font-size: 14px;
}
.format_text img{
	max-width: 98%;
	height:auto;
}
.format_text a {
	text-decoration:none;
}
.format_text a:hover {
	color:#333;
}
.format_text p.alert {
	background: none repeat scroll 0 0 #FFFFC7;
	border: 1px solid #E5E597;
}
.format_text ol {
	margin: 1.5em 0 1.571em 1.571em;
}
#content_box {
	width: 100%;
}
#content {
	width: 71.1%;
	float: left;
	border-right: 1px #F2F2F2 solid;
	padding-bottom: 15px;
}
#content_box .page {
	margin: 0 23px 0 11px;
	width: auto;
}
#content_box {
	background-color: transparent;
	overflow:hidden;
}
.post_box {
	padding: 20px 20px 40px 0;
	margin: 0 0 25px;
	border-bottom: 5px solid #41B7D8;
}
.post_box ol, .post_box ul {
	margin-left:21px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'BreeSerifRegular', Arial, sans-serif;
}
.format_text h1 {
	line-height: 48px;
	font-size: 42px;
	margin: 10px 0;
}
.format_text h2 {
	font-size: 36px;
	line-height: 44px;
	border-bottom: 4px solid #eee;
	padding-bottom: 5px;
	margin: 10px 0;
}
.format_text h3 {
	font-size: 32px;
	line-height: 40px;
	margin: 10px 0;
}
.format_text h4 {
	font-size: 28px;
	line-height: 36px;
	margin: 10px 0;
}
.format_text h5 {
	font-size: 24px;
	line-height: 30px;
	margin: 10px 0;
}
.format_text h6 {
	font-size: 18px;
	line-height: 24px;
	margin: 10px 0;
}
.format_text p {
	margin-bottom: 1em;
	display:block;
}
.format_text img.left,
.format_text img.alignleft,
.wp-caption.alignleft {
	margin: 1.571em 1.571em 1.571em 0;
	display: block;
	float: left;
}
.format_text img.right,
.format_text img.alignright,
.wp-caption.alignright {
	margin: 1.571em 0 1.571em 1.571em;
	display: block;
	float: right;
}
.format_text img.center,
.format_text img.aligncenter,
.wp-caption.aligncenter {
	margin: 1em auto 1em auto;
	display: block;
}
.format_text img.aligncenter, .format_text img.alignnone {
	margin-top:1em;
	margin-bottom:1em;
	display: block;
}
.size-thumbnail {
	margin: 10px 10px 10px 0;
	display:inline!important;
}
.format_text ul {
	margin: 1.5em 0 1.571em 1.571em;
	list-style-type: circle;
}
.format_text blockquote {
	margin: 0 0 1.571em 0;
	font-style: italic;
}
span.author {
	color: #777;
}
.tags {
	margin-top: 30px;
	overflow: hidden;
}
pre {
	font-family: monospace;
}
embed, iframe {
	max-width: 100%;
}
.page-template-page-nosidebar-php #content {
	width:100%;
	border-right: 0;
}
.page-template-page-nosidebar-php .post_box {
	padding:30px;
}
.page-template-page-nosidebar-php #comments {
	margin: 30px;
}
/*-[ Archive ]---------------------------------*/
.postsby {
	font-size: 28px;
	margin: 25px 0 0;
	padding-bottom:25px;
	border-bottom:3px solid #eee;
}
/*-[ Read more link]---------------------------*/
.readmore {
	background: #41B7D8;
	cursor: pointer;
	color: white!important;
	padding: 8px 16px;
	margin: 20px 0 0 0;
	float: right;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
a.readmore:hover {
	text-decoration: none;
	background:#333;
	color:#fff!important;
}
/*-[ Thumbnail ]-------------------------------*/
.wp-post-image {
	float: left;
	margin: 7px 15px 10px 0;
}
.attachement-featured {
	margin:0;
}
/*-[ Search Form ]-----------------------------*/
#searchform fieldset {
	float: left;
	color: #888;
	border: 1px solid #DFDFDF;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(0, 0, 0, 0.075);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(0, 0, 0, 0.075);
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
	width: 98%;
	margin: 3px;
}
#searchform fieldset:hover {
	border: 1px solid #41B7D8;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(65, 183, 216, 0.4);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(65, 183, 216, 0.4);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(65, 183, 216, 0.4);
}
#searchform {
	margin: 0 10px 10px 0;
	display: block;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
#s {
	float: left;
	color: #888;
	background: none;
	border: 0;
	width: 80%;
	padding: 0.6em;
}
#searchform .sbutton {
	cursor: pointer;
	padding:8px;
	float:right;
}
.post_box #searchform fieldset {
	width:300px;
}
.post_box #searchform {
	margin:25px 0;
	overflow: hidden;
}
/*-[ Sidebar ]---------------------------------*/
#sidebars {
	float: right;
	padding: 0;
	width: 25%;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 25px;
}
#sidebars ul.sidebar_list {
	list-style: none;
}
.sidebar a:hover, #footer a:hover {
	color:#333;
}
.sidebar h3{
	font-size: 19px;
	text-transform: none!important;
	margin-bottom: 12px;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'BreeSerifRegular', Arial, sans-serif;
}
#sidebar-left {
	font-family: 'BreeSerifRegular', Arial, sans-serif;
	float: left;
	width: 14.5%;
	margin: 30px 30px 0 0;
	position:relative;
	display: none;
}
.left-menu li {
	text-align: right;
	margin-bottom: 15px!important;
	line-height: 30px;
	list-style: none!important;
}
.left-menu li ul {
	margin-top: 5px;
}
.left-menu .children li {
	margin-top:15px;
}
.left-menu .cat-item a {
	color: white;
	background: #E53B2C;
	font-weight: normal;
	font-size: 14px;
	text-decoration: none;
	padding: 7px 12px;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
.left-menu .cat-item a:hover {
	text-decoration: none;
	color: #222;
	background: #FFEF66!important;
}
.left-menu li.widget h3 {
	display:none;
}
li.widget ul {
	list-style:circle;
}
li.widget ul li,
#footer_setup .footer_items ul li,
.format_text ul li {
	/*margin-left: 1.4em;*/

	list-style:none;
}
input[type="text"],
.sidebar input[type="text"],
.sidebar input[type="submit"],
#footer input[type="text"],
#footer input[type="submit"] {
	padding: 0.6em;
	color:#777;
}
#footer input[type="text"],
#footer input[type="submit"] {
	float:left;
}
#footer .mts-subscribe {
	margin: 0 0 45px 0;
	overflow: hidden;
}
#footer .mts-subscribe input[type="text"] {
	width:190px;
}
#footer .mts-subscribe input[type="submit"], .mts-subscribe input[type="submit"]:hover {
	border-width: 2px;
}
li.widget {
	margin-bottom: 25px;
	list-style:none;
	font-size: 13px;
	line-height: 20px;
	overflow: hidden;
}
li.widget ul li {
	margin-bottom: 4px;
}
li.widget li ul {
	margin: 7px 0 0 5px;
}
#sidebars .wp-post-image, #footer .wp-post-image  {
	/*margin-bottom: 0;*/
	margin-top: 5px;
}
.textwidget {
	line-height: 20px;
}
.advanced-recent-posts li, .popular-posts li, .category-posts li {
	list-style: none!important;
	margin-left: 0!important;
	padding: 10px 0;
	border-bottom: 1px dashed #EEE;
	overflow: hidden;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
.advanced-recent-posts li:hover, .popular-posts li:hover, .category-posts li:hover {
	background:#f7f7f7;
	padding-left: 10px;
}
/*-[ Tab widget ]------------------------------*/
#tabber { display: block; height: auto; margin: 0px 0px 25px 0px; overflow: hidden; max-width:330px;}
#tabber .inside { background: #fff; padding: 10px 15px 10px; border: 3px solid #f0f0f0; margin-top: -3px;}
#tabber ul.tabs { overflow: hidden; height: 40px; }
#tabber ul.tabs li { background: none; float: left; display: inline; font-size: 12px; font-weight: bold; color: #fff; cursor: pointer; border-bottom: none; width: 50%;}
#tabber ul.tabs li a {
	background: white url(images/sprite3.png) no-repeat 9px -31px;
	color: #999;
	display: block;
	float: left;
	margin: 0;
	padding: 0 0 0 20%;
	border: 3px solid #F9F9F9;
	line-height: 34px;
	text-transform: uppercase;
	border-bottom: 3px solid #F0F0F0;
	width: 76%;
}
#tabber ul.tabs li a.selected { background: white url(images/sprite3.png) no-repeat 9px 8px; margin: 0; color: #444; text-decoration: none; border: 3px solid #F0F0F0; border-bottom: 0; line-height: 38px; border-bottom: 3px solid #fff;}
#tabber ul.tabs li.tab-recent-posts a { margin: 0; border-left: 0;}
#tabber ul.tabs li.tab-recent-posts a.selected { background:#fff url(images/ico-hot-blue.png) no-repeat 9px 7px !important; border-left: 3px solid #f0f0f0; margin-left: -3px;}
#tabber ul.tabs li a:hover { color: #444; text-decoration: none; }
#tabber .inside li { list-style:none; padding: 15px 0px 0 0; }
#tabber .inside li a { line-height: 18px; }
#tabber .inside a:hover {  }
#tabber .inside li div.info { display: table; top: 0px !important; margin: 0px !important; padding: 0px !important; }
#tabber .inside li div.info .entry-title { font-size: 14px; margin-bottom: 0;}
#tabber .inside li div.info p { color: #333; }
#tabber .inside li .meta { display: block; font-size: 13px; color: #999; }
#tabber .tab-thumb { border: 1px solid #f0f0f0; padding: 4px; background: #fff; float: left; display: inline; margin: 0px 12px 0px 0px; }
.post-number { position: relative; width: 22px; height: 22px; text-align: center; line-height: 23px; font-weight: bold; color: #fff; bottom: 22px; background: #2DB2EB;}
/*-[ Subscribe Widget ]------------------------*/
.mts-subscribe input[type="text"] {
	color: #888;
	border: 1px solid #DFDFDF;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(0, 0, 0, 0.075);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(0, 0, 0, 0.075);
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
	margin: 3px;
	width: 195px;
	float:left;
}
.mts-subscribe input[type="text"]:hover {
	border: 1px solid #41B7D8;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(65, 183, 216, 0.4);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(65, 183, 216, 0.4);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(65, 183, 216, 0.4);
}
.mts-subscribe input[type="submit"] {
	background: #41B7D8;
	cursor: pointer;
	color: white!important;
	padding: 7px 12px;
	float: right;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: 3px solid #29A0C1;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
	float:left;
}
.mts-subscribe input[type="submit"]:hover {
	background: #474747;
	border:3px solid #333;
}
/* ----------------------------------------------------------------
Counter Widget
-----------------------------------------------------------------*/

.subscribers-widget {
}

.subscribers-widget .subscriber-wrap {
	display: inline-block;
	width: 75px;
	padding: 2px 6px;
	text-align: center;
	border-left: 1px solid #E2E2E2;
}

#footer .subscriber-wrap { border-left: 1px dotted #555; }

.subscriber-wrap:first-child,
#footer .subscriber-wrap:first-child {
	padding-left: 0;
	border-left: 0;
}

.subscriber-wrap a.subscriber-icon {
	display: inline-block;
	margin-bottom: 10px;
	border: none;
	padding: 0;
	width: 48px;
	height: 48px;
}

a.subscriber-icon:hover {
	border: none !important;
	background: none !important;
}

.subscriber-wrap span.subscribes {
	display: block;
	font-size: 15px;
	font-weight: bold;
	color: #222;
}

#footer span.subscribes { color: #EEE; }

.subscriber-wrap span.subscribes-text {
	display: block;
	font-size: 12px;
	color: #999;
	font-style: italic;
}


/*-[ Ad Widgets ]------------------------------*/
.ad-125 {
	float: left;
	margin-top: 10px;
}
.ad-125 ul {
	float: left;
	max-width: 300px;
	margin: 0;
	list-style: none;
	max-width: 100%;
}
.ad-125 li{
	float: left;
	padding: 0 0 12px 0;
	border: none;
	list-style: none!important;
	margin-left: 0.8em!important;
	margin-right: 0.9em;
	background: none;
}
/*-[ Tweets Widget ]---------------------------*/
.tweets {
	padding-bottom: 1.2em;
}
.twitter-follow {
	background: url(images/small_twitter.png) no-repeat center left;
	padding: 5px 0 5px 20px;
	float: right;
}
/*-[ Tag Widget ]------------------------------*/
.tagcloud a, .tags a {
	float: left;
	text-shadow: none;
	font-size: 12px !important;
	line-height: 1em !important;
	display: block;
	color: #666;
	text-shadow: 1px 1px 1px white;
	margin-right: 5px;
	margin-bottom: 7px;
	padding: 6px 8px 6px 15px;
	line-height: 1.3em;
	background: #EEE url("images/tag.png") 5px center no-repeat;
	border: 1px solid #DDD;
	webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.tagcloud a:hover, .tags a:hover {
	background-color: #F9F9F9;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.tagtext {
	float:left;
	margin-right:10px;
}
/*-[ Calender Widget ]-------------------------*/
#wp-calendar {
	width: 300px;
}
#wp-calendar td {
	text-align: center;
}
#wp-calendar caption {
	font-size: 16px;
	padding-bottom: 10px;
	font-weight: bold;
}
#wp-calendar #prev {
	text-align: left;
	padding-left: 12px;
}
/*-[ Related Posts ]---------------------------*/
.related-posts {
	overflow: hidden;
	padding: 15px 0 0;
}
.related-posts ul {
	margin-left:0;
}
.related-posts h3 {
	font-size: 18px;
	margin: 10px 0;
}
.relatedthumb img {
	width: 180px;
	height: 120px;
}
.related-posts li {
	width: 180px;
	float: left;
	list-style:none;
	margin-right: 30px;
}
.related-posts a {
	color:#333;
}
.related-posts  a:active {
	background:none!important;
	color:#000!important;
}
.related-posts a:hover {
	color:#41B7D8;
}
.related-posts .last {
	margin-right: 0;
}
/*-[ Author Box ]------------------------------*/
.postauthor {
	border-bottom: 5px solid #41B7D8;
	padding-bottom: 15px;
	padding-right: 25px;
	min-height: 100px;
	margin-bottom:20px;
}
.postauthor img {
	float: right;
	margin: 5px 0 0 10px;
}
.postauthor h4 {
	color: #777;
	font-size: 20px;
	margin-bottom: 5px;
	font-weight: bold;
}
.postauthor p {
	margin-bottom: 12px;
	text-align:justify;
}
/*-[ commment intro ]--------------------------*/
.cnumber {
	font-size: 20px;
	font-weight: bold;
}
/*-[ Comments ]--------------------------------*/
#comments {
	margin-right: 20px;
}
input.text-input, #commentform input {
	padding: 11px;
}
input#author, input#email, input#url {
	width: 380px;
	border: 1px solid #E7E7E7;
	background: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
}
input#author:hover, input#email:hover, input#url:hover, #comment:hover{
	border: 1px solid #41B7D8;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(65, 183, 216, 0.4);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(65, 183, 216, 0.4);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(65, 183, 216, 0.4);
}
input#author, input#email, input#url, #comment {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.contactform input[type="text"] {
	width: 380px;
}
.contactform input[type="text"], .contactform textarea {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	border: 1px solid #E7E7E7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.contactform input[type="text"]:hover, .contactform textarea:hover {
	border: 1px solid #41B7D8;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(65, 183, 216, 0.4);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(65, 183, 216, 0.4);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 2px 8px 0 rgba(65, 183, 216, 0.4);
}
.contact-submit,
#cancel-comment-reply-link {
	padding: 7px 20px;
	color: white;
	border: 1px solid #383838;
	cursor: pointer;
	background:#333;
}
#commentform input#submit {
	font-size: 14px;
	line-height: 25px;
	font-weight: normal;
	background: #E53B2C;
	padding: 10px 32px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	border: none;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
#commentform input#submit:hover {
	background: #333;
}
.commentlist li {
	list-style: none;
	padding: 20px;
	background: #F9F9F9;
	margin: 20px 0;
	border: 1px solid #DDD;
}
.commentlist .thread-even {
	background: #FFF;
}
.commentlist .thread-odd, .commentlist .thread-even .children li {
	background: #F9F9F9;
}
.commentlist p {
	margin-bottom: 1em;
	line-height: 21px;
}
.fn {
	font-size: 16px;
	line-height: 1.375em;
	font-weight: bold;
	font-style: normal;
}
.comment-meta {
	margin-bottom: 15px;
}
.reply {
	margin-top: 10px;
	padding-bottom: 5px;
	overflow: hidden;
}
.reply a {
	float: right;
	padding: 0 14px;
	background: #E53B2C;
	color: white;
	font-family: Georgia, sans-serif;
	font-style: italic;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
}
.reply a:hover {
	background: #333;
}
.commentlist .children {
	margin-left: 10px;
	margin-top: 30px;
}
.commentlist .children li {
	background:#fff;
}
.avatar {
	float: right;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-o-border-radius: 40px;
	-ms-border-radius: 40px;
	-khtml-border-radius: 40px;
}
#respond h3{
	margin-top: 18px;
	font-size: 25px;
	margin: 15px 0 15px 0;
	padding: 0 0 20px 0;
	border-bottom: 3px solid #444;
}
.cancel-comment-reply a{
	float:right;
	margin-top: -25px;
}
.comment-awaiting-moderation {
	font-style: italic;
	font-weight: bold;
}
/*-[ Comment Form ]----------------------------*/
#commentform textarea {
	width:95%;
	font-family: inherit;
	border: 1px solid #E7E7E7;
	background: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
	padding:10px;
}
#commentform p {
	margin-bottom: 15px;
}
/*-[ Page Navigation ]-------------------------*/
.pagination {
	float: right;
	padding-right: 30px;
}
.pagination a {
	transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	-ms-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	-webkit-transition: background-color 0.2s;
}
.pagination ul li {
	display: inline-block;
	float: left;
	margin-right: 10px;
	text-align: center;
}
.currenttext, .pagination2 a {
	background-color: #41B7D8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	color: white;
	padding: 5px 10px;
}
.inactive {
	padding: 5px 10px;
}
.inactive:hover {
	background-color: #41B7D8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	color: white;
}
.pagination2 {
	padding-top: 1em;
	display: block;
	clear: both;
}
.pagination2 a {
	margin-left:10px;
	margin-right: 10px;
}
.pagination2 a:hover {
	background:#333;
	color:#fff;
}
.nav-previous {
	float: left;
}
.nav-next {
	float: right;
	margin-right: 15px;
}
/*-[ Footer ]----------------------------------*/
#footer_area {
	border-top: 1px solid #EFEFEF;
	background:#fff;
}
#footer_area .page {
	padding-bottom: 0em;
}
#footer{
	background: #fff;
	font-size:13px;
	text-align:center;
}
#footer_setup {
	margin: 0 0 0.5em 0;
	margin-bottom: 5px;
	overflow: hidden;
}
#footer_setup .footer_items {
	padding-right: 0px;
	color: #777;
	font-size:13px;
	height: 100%;
	font-weight: normal;
	overflow: hidden;
	line-height: 18px;
	margin-top: 40px;
}
.footer_widget {
	margin-bottom: 30px;
}
.footer_items_1, .footer_items_2, .footer_items_3, .footer_items_4 {
	text-align: left;
	width: 23.5%;
	float: left;
	margin-right: 20px;
}
.footer_items_4 {
	margin-right:0;
}
#footer_setup h3{
	padding: 0 0 1.5em 0;
	font-size: 19px;
	margin-bottom: 12px;
	font-family: 'BreeSerifRegular', Arial, sans-serif;
	background: url('images/divider.png') bottom repeat-x;
}
#footer_setup .footer_items ul {
	margin-right: 1.5em;
	padding: 0px;
	line-height:20px;
}
#footer #searchform {
	margin-top:40px;
	margin-bottom: 40px;
	overflow: hidden;
}
#footer .ad-125 ul {
	margin-right:0;
	width: 285px;
}
#footer .ad-125 ul li {
	margin-right: 1.2em;
	list-style:none;
}
/*-[ Top Link ]--------------------------------*/
#move-to-top{
	position:fixed;
	width:26px;
	height:26px;
	bottom:10px; /*or change it to bottom?*/
	right:20px;
	z-index:9999;
	cursor: pointer;
	opacity: 0.8;
	background:url(images/up.png);
	-moz-transition: 0.5s ease-in all;
	-webkit-transition: 0.5s ease-in all;
	-ie-transition: 0.5s ease-in all;
	-o-transition: 0.5s ease-in all;
	transition: 0.5s ease-in all;

}
#move-to-top:hover{
	opacity:0.5;
}
.no-csstransitions #move-to-top {display:none;}
#move-to-top:not(.filling) {opacity:0;visibility:hidden;}
/*-[ Copyrights ]------------------------------*/
.copyrights{
	padding-top: 0px;
	line-height: 28px;
	font-size: 13px;
	color: #666;
	font-family: BreeSerifRegular, Arial, sans-serif;
	margin-bottom:8px;
}
.landing .copyrights {
	padding-top: 20px;
}
/*-[ No Sidebar Page ]-------------------------*/
.nosidebar {
	width: 100%!important;
}
/*-[ Content Ads ]-----------------------------*/
.topad {
	margin-bottom: 15px;
}
.bottomad {
	margin-top: 15px;
}
/*-[ Social Buttons ]--------------------------*/
.shareit {
	padding: 10px 0 15px 0;
	min-height: 22px;
	overflow: hidden;
}
.share-item {
	float: left;
	max-width: 90px;
}
.facebookbtn {
	margin-top: -2px;
	margin-bottom: 2px;
	overflow:hidden;
}
.gplusbtn {
	width: 80px;
}
.linkedinbtn {
	max-width: 150px;
}
.diggbtn {
	width: 100px;
}
.stumblebtn {
	width: 100px;
	margin-top: 2px;
}
.viral-button {background-image:url("images/pinterest.png");}
.viral-button.viral-button-pinterest{width:50px; height:22px;cursor:pointer;}
.viral-button.viral-button-pinterest:hover{background-position:-51px 0}
.viral-button.viral-button-pinterest:active{background-position:-102px 0}
/*-[ Other Classes ]---------------------------*/
.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
.left {
	float: left;
}
.right {
	float: right;
}
/*-----------------------------------------------
/* Shortcodes
/*---------------------------------------------*/
/*-[ Notifications ]---------------------------*/

.message_box {
	margin: 15px 0;
}

pre { overflow: auto; background: #F7F7F7 url('images/code.png') 10px 2px no-repeat; padding: 2em 1em 1em 1em; border: 1px solid #DDD; margin: 15px 0; }

.note { background: #FEF4C8; color: #666; border: 1px solid #FDEBA5; }
.note p { padding: 0.5em 1em 0.5em 2.5em; background: url('images/thumb.png') left no-repeat; margin: 0.3em 0.8em; }

.announce { background: #D7EFFB; color: #666; border: 1px solid #BEE5F8; }
.announce p { padding: 0.5em 1em 0.5em 2.5em; background: url('images/speaker.png') left no-repeat; margin: 0.3em 0.8em; }

.success { background: #E8F6D2; color: #666; border: 1px solid #DEF1BF; }
.success p { padding: 0.5em 1em 0.5em 2.5em; background: url('images/tick.png') left no-repeat; margin: 0.3em 0.8em; }

.warning { background: #FFE7E7; color: #666; border: 1px solid #FFDBDB; }
.warning p { padding: 0.5em 1em 0.5em 2.5em; background: url('images/cross.png') left no-repeat; margin: 0.3em 0.8em; }

/*-[ Buttons ]---------------------------------*/
.buttons {
	font-size:12px;
	text-decoration:none;
	position:relative;
	padding:10px 20px 7px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 15px 25px 25px 0;
	padding: 12px 10px;
}
.btn_brown {
	background-color: #D9C2A5;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D9C2A5), color-stop(100%, #C3A178));
	background-image: -webkit-linear-gradient(top, #D9C2A5, #C3A178);
	background-image: -moz-linear-gradient(top, #D9C2A5, #C3A178);
	background-image: -ms-linear-gradient(top, #D9C2A5, #C3A178);
	background-image: -o-linear-gradient(top, #D9C2A5, #C3A178);
	background-image: linear-gradient(top, #D9C2A5, #C3A178);
	border-top: 1px solid #BD986A;
	border-right: 1px solid #BD986A;
	border-bottom: 1px solid #9A7445;
	border-left: 1px solid #BD986A;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 0 #DFCC9F;
	-moz-box-shadow: inset 0 1px 0 0 #DFCC9F;
	box-shadow: inset 0 1px 0 0 #DFCC9F;
	color: white;
	font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	line-height: 1;
	padding: 8px 25px;
	text-shadow: 0 -1px 1px #BA905E;
	text-transform: uppercase;
	padding: 12px 10px;
}
.btn_brown:hover {
	background-color: #D1B593;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D1B593), color-stop(100%, #BC966B));
	background-image: -webkit-linear-gradient(top, #D1B593, #BC966B);
	background-image: -moz-linear-gradient(top, #D1B593, #BC966B);
	background-image: -ms-linear-gradient(top, #D1B593, #BC966B);
	background-image: -o-linear-gradient(top, #D1B593, #BC966B);
	background-image: linear-gradient(top, #D1B593, #BC966B);
	border-top: 1px solid #BD986A;
	border-right: 1px solid #BD986A;
	border-bottom: 1px solid #9A7445;
	border-left: 1px solid #BD986A;
	-webkit-box-shadow: inset 0 1px 0 0 #DFCC9F;
	-moz-box-shadow: inset 0 1px 0 0 #DFCC9F;
	box-shadow: inset 0 1px 0 0 #DFCC9F;
	cursor: pointer;
	color:white!important;
}
.btn_brown:active {
	border: 1px solid #B2824C;
	-webkit-box-shadow: inset 0 0 8px 2px #C19B70;
	-moz-box-shadow: inset 0 0 8px 2px #C19B70;
	box-shadow: inset 0 0 8px 2px #C19B70;
}
.btn_blue {
	background-color: #A5B8DA;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A5B8DA), color-stop(100%, #7089B3));
	background-image: -webkit-linear-gradient(top, #A5B8DA, #7089B3);
	background-image: -moz-linear-gradient(top, #A5B8DA, #7089B3);
	background-image: -ms-linear-gradient(top, #A5B8DA, #7089B3);
	background-image: -o-linear-gradient(top, #A5B8DA, #7089B3);
	background-image: linear-gradient(top, #A5B8DA, #7089B3);
	border-top: 1px solid #758FBA;
	border-right: 1px solid #6C84AB;
	border-bottom: 1px solid #5C6F91;
	border-left: 1px solid #6C84AB;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
	-moz-box-shadow: inset 0 1px 0 0 #aec3e5;
	box-shadow: inset 0 1px 0 0 #aec3e5;
	color: white;
	font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	line-height: 1;
	padding: 8px 25px;
	text-shadow: 0 -1px 1px #64799E;
	text-transform: uppercase;
	padding: 12px 10px;
}
.btn_blue:hover {
	background-color: #9badcc;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
	background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
	background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
	background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
	background-image: -o-linear-gradient(top, #9badcc, #687fa6);
	background-image: linear-gradient(top, #9badcc, #687fa6);
	border-top: 1px solid #6d86ad;
	border-right: 1px solid #647a9e;
	border-bottom: 1px solid #546685;
	border-left: 1px solid #647a9e;
	-webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
	-moz-box-shadow: inset 0 1px 0 0 #a5b9d9;
	box-shadow: inset 0 1px 0 0 #a5b9d9;
	cursor: pointer;
	color:white!important;
}
.btn_blue:active {
	border: 1px solid #546685;
	-webkit-box-shadow: inset 0 0 8px 2px #7e8da6;
	-moz-box-shadow: inset 0 0 8px 2px #7e8da6;
	box-shadow: inset 0 0 8px 2px #7e8da6;
}
.btn_green {
	background-color: #6CB24C;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6CB24C), color-stop(100%, #52873A));
	background-image: -webkit-linear-gradient(top, #6CB24C, #52873A);
	background-image: -moz-linear-gradient(top, #6CB24C, #52873A);
	background-image: -ms-linear-gradient(top, #6CB24C, #52873A);
	background-image: -o-linear-gradient(top, #6CB24C, #52873A);
	background-image: linear-gradient(top, #6CB24C, #52873A);
	border-top: 1px solid #477532;
	border-right: 1px solid #477532;
	border-bottom: 1px solid #3A6029;
	border-left: 1px solid #477532;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 0 #8FC477;
	-moz-box-shadow: inset 0 1px 0 0 #8FC477;
	box-shadow: inset 0 1px 0 0 #8FC477;
	color: white;
	font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	line-height: 1;
	padding: 12px 10px;
	text-shadow: 0 -1px 1px #416B2D;
	text-transform: uppercase;
}
.btn_green:hover {
	background-color: #5F9D43;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #68AB49), color-stop(100%, #4A7834));
	background-image: -webkit-linear-gradient(top, #68AB49, #4A7834);
	background-image: -moz-linear-gradient(top, #68AB49, #4A7834);
	background-image: -ms-linear-gradient(top, #68AB49, #4A7834);
	background-image: -o-linear-gradient(top, #68AB49, #4A7834);
	background-image: linear-gradient(top, #68AB49, #4A7834);
	border-top: 1px solid #4E8037;
	border-right: 1px solid #4E8037;
	border-bottom: 1px solid #3A6029;
	border-left: 1px solid #4E8037;
	-webkit-box-shadow: inset 0 1px 0 0 #8FC477;
	-moz-box-shadow: inset 0 1px 0 0 #8FC477;
	box-shadow: inset 0 1px 0 0 #8FC477;
	cursor: pointer;
	color:white!important;
}
.btn_green:active {
	border: 1px solid #436D30;
	-webkit-box-shadow: inset 0 0 8px 2px #467131;
	-moz-box-shadow: inset 0 0 8px 2px #467131;
	box-shadow: inset 0 0 8px 2px #467131;
}
.btn_yellow {
	background-color: #FFDA6B;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFDA6B), color-stop(100%, #FEAE2D));
	background-image: -webkit-linear-gradient(top, #FFDA6B, #FEAE2D);
	background-image: -moz-linear-gradient(top, #FFDA6B, #FEAE2D);
	background-image: -ms-linear-gradient(top, #FFDA6B, #FEAE2D);
	background-image: -o-linear-gradient(top, #FFDA6B, #FEAE2D);
	background-image: linear-gradient(top, #FFDA6B, #FEAE2D);
	border-top: 1px solid #D6AB00;
	border-right: 1px solid #D6AB00;
	border-bottom: 1px solid #BC9600;
	border-left: 1px solid #D6AB00;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 0 #FFE599;
	-moz-box-shadow: inset 0 1px 0 0 #FFE599;
	box-shadow: inset 0 1px 0 0 #FFE599;
	color: #fff;
	line-height: 1;
	padding: 8px 25px;
	text-shadow: 0 1px 1px #BC9600;
	text-transform: uppercase;
	font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	line-height: 1;
	padding: 12px 10px;
}
.btn_yellow:hover {
	background-color: #FFD351;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFD351), color-stop(100%, #FDA00B));
	background-image: -webkit-linear-gradient(top, #FFD351, #FDA00B);
	background-image: -moz-linear-gradient(top, #FFD351, #FDA00B);
	background-image: -ms-linear-gradient(top, #FFD351, #FDA00B);
	background-image: -o-linear-gradient(top, #FFD351, #FDA00B);
	background-image: linear-gradient(top, #FFD351, #FDA00B);
	border-top: 1px solid #D6AB00;
	border-right: 1px solid #D6AB00;
	border-bottom: 1px solid #BC9600;
	border-left: 1px solid #D6AB00;
	-webkit-box-shadow: inset 0 1px 0 0 #FFE599;
	-moz-box-shadow: inset 0 1px 0 0 #FFE599;
	box-shadow: inset 0 1px 0 0 #FFE599;
	cursor: pointer;
	color: #fff!important;
}
.btn_yellow:active {
	border: 1px solid #F29202;
	-webkit-box-shadow: inset 0 0 8px 2px #F29202;
	-moz-box-shadow: inset 0 0 8px 2px #F29202;
	box-shadow: inset 0 0 8px 2px #F29202;
}
.btn_red {
	background-color: #E83030;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E83030), color-stop(100%, #B71414));
	background-image: -webkit-linear-gradient(top, #E83030, #B71414);
	background-image: -moz-linear-gradient(top, #E83030, #B71414);
	background-image: -ms-linear-gradient(top, #E83030, #B71414);
	background-image: -o-linear-gradient(top, #E83030, #B71414);
	background-image: linear-gradient(top, #E83030, #B71414);
	border-top: 1px solid #9C1111;
	border-right: 1px solid #9C1111;
	border-bottom: 1px solid #890F0F;
	border-left: 1px solid #9C1111;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 0 #FF6B6B;
	-moz-box-shadow: inset 0 1px 0 0 #FF6B6B;
	box-shadow: inset 0 1px 0 0 #FF6B6B;
	color: white;
	font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	line-height: 1;
	padding: 8px 25px;
	text-shadow: 0 -1px 1px #A01111;
	text-transform: uppercase;
	padding: 12px 10px;
}
.btn_red:hover {
	background-color: #E63131;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E63131), color-stop(100%, #9C1111));
	background-image: -webkit-linear-gradient(top, #E63131, #9C1111);
	background-image: -moz-linear-gradient(top, #E63131, #9C1111);
	background-image: -ms-linear-gradient(top, #E63131, #9C1111);
	background-image: -o-linear-gradient(top, #E63131, #9C1111);
	background-image: linear-gradient(top, #E63131, #9C1111);
	border-top: 1px solid #9C1111;
	border-right: 1px solid #9C1111;
	border-bottom: 1px solid #890F0F;
	border-left: 1px solid #9C1111;
	-webkit-box-shadow: inset 0 1px 0 0 #FE4C4C;
	-moz-box-shadow: inset 0 1px 0 0 #FE4C4C;
	box-shadow: inset 0 1px 0 0 #FE4C4C;
	cursor: pointer;
	color:white!important;
}
.btn_red:active {
	border: 1px solid #890F0F;
	-webkit-box-shadow: inset 0 0 8px 2px #890F0F;
	-moz-box-shadow: inset 0 0 8px 2px #890F0F;
	box-shadow: inset 0 0 8px 2px #890F0F;
}
.btn_white {
	background-color: #F7F7F7;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F7F7F7), color-stop(100%, #E0E0E0));
	background-image: -webkit-linear-gradient(top, #F7F7F7, #E0E0E0);
	background-image: -moz-linear-gradient(top, #F7F7F7, #E0E0E0);
	background-image: -ms-linear-gradient(top, #F7F7F7, #E0E0E0);
	background-image: -o-linear-gradient(top, #F7F7F7, #E0E0E0);
	background-image: linear-gradient(top, #F7F7F7, #E0E0E0);
	border-top: 1px solid #CECECE;
	border-right: 1px solid #CECECE;
	border-bottom: 1px solid #C4C4C4;
	border-left: 1px solid #CECECE;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 0 #FFFFFF;
	-moz-box-shadow: inset 0 1px 0 0 #FFFFFF;
	box-shadow: inset 0 1px 0 0 #FFFFFF;
	color: #4F4F4F;
	font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	line-height: 1;
	padding: 8px 25px;
	text-shadow: 0 -1px 1px #fff;
	text-transform: uppercase;
	padding: 12px 10px;
}
.btn_white:hover {
	background-color: #F4F4F4;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F4F4F4), color-stop(100%, #D3D3D3));
	background-image: -webkit-linear-gradient(top, #F4F4F4, #D3D3D3);
	background-image: -moz-linear-gradient(top, #F4F4F4, #D3D3D3);
	background-image: -ms-linear-gradient(top, #F4F4F4, #D3D3D3);
	background-image: -o-linear-gradient(top, #F4F4F4, #D3D3D3);
	background-image: linear-gradient(top, #F4F4F4, #D3D3D3);
	border-top: 1px solid #CECECE;
	border-right: 1px solid #CECECE;
	border-bottom: 1px solid #C4C4C4;
	border-left: 1px solid #CECECE;
	-webkit-box-shadow: inset 0 1px 0 0 #fff;
	-moz-box-shadow: inset 0 1px 0 0 #fff;
	box-shadow: inset 0 1px 0 0 #fff;
	cursor: pointer;
	color: #4F4F4F!important;
}
.btn_white:active {
	border: 1px solid #C1C1C1;
	-webkit-box-shadow: inset 0 0 8px 2px #C1C1C1;
	-moz-box-shadow: inset 0 0 8px 2px #C1C1C1;
	box-shadow: inset 0 0 8px 2px #C1C1C1;
}
/*-[ Video Shortcode ]-------------------------*/
.textwidget .youtube-video,
.textwidget .vimeo-video,
.textwidget .googlemaps {
	margin:0;
}
.youtube-video,
.vimeo-video {
	margin: 10px 15px 10px 0;
}
/*-[ Google Maps ]-----------------------------*/
.googlemaps {
	margin: 5px 15px 10px 0;
}
/*-[ Columns ]---------------------------------*/
.one_half {
	width: 48%;
}
.one_third {
	width: 30.66%;
}
.two_third {
	width: 65.33%;
}
.one_fourth {
	width: 22%;
}
.three_fourth {
	width: 74%;
}
.one_fifth {
	width: 16.8%;
}
.two_fifth {
	width: 37.6%;
}
.three_fifth {
	width: 58.4%;
}
.four_fifth {
	width: 67.2%;
}
.one_sixth {
	width: 13.33%;
}
.five_sixth {
	width: 82.67%;
}
.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
	position: relative;
	margin-right: 4%;
	margin-bottom: 15px;
	float: left;
}
.column-last {
	margin-right: 0!important;
	clear: right;
}

/*-[ Tabs ]------------------------------------*/
.tab_widget {
	display: block;
	position: relative;
	margin: 0 0 20px 0;
}

.tab_widget ul.tabs {
	display: block;
	position: relative;
	list-style: none;
	height: 40px;
	border-bottom: 1px solid #DDD;
	margin: 0;
}

.tab_widget ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 39px;
	line-height: 39px;
	border: 1px solid #DDD;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background-image: linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
	background-image: -o-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
	background-image: -moz-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
	background-image: -webkit-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
	background-image: -ms-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.09, rgb(230,230,230)),
		color-stop(0.55, rgb(238,238,238))
		);
}

.tab_widget ul.tabs li:first-child { border-left: 1px solid #DDD; }

.tab_widget ul.tabs li a {
	text-decoration: none;
	color: #888;
	font-size: 12px;
	display: block;
	padding: 0 10px;
	outline: none;
	font-weight: bold;
	text-shadow: 1px 1px 1px #FFF;
	border: none;
	border-left: 1px solid #F9F9F9;
}

.tab_widget ul.tabs li:first-child a { border-left: none; }

.tab_widget ul.tabs li a:hover, .tab_widget ul.tabs li a:active {
	background: none!important;
	color: #666!important;
}

.tab_widget ul.tabs li.active,
.tab_widget ul.tabs li.active a:hover {
	background: #FFF;
	border-bottom: 1px solid #FFF;
}

.tab_widget ul.tabs li.active {
	border-top: 1px solid #DDD;
}

.tab_widget ul.tabs li.active a { color: #777; }

.tab_widget .tab_container {
	display: block;
	border-top: none;
	overflow: hidden;
	position: relative;
	clear: both;
	background: #FFF;
	border: 1px solid #DDD;
	border-top: none;
}

.tab_widget .tab_content {
	display: block;
	position: relative;
	padding: 15px;
}
/*-[ Toggle ]-----------------------*/
.toggle {
	display: block;
	position: relative;
	margin: 0 0 20px 0;
}

.toggle .togglet,
.toggle .toggleta {
	display: block;
	position: relative;
	height: 36px;
	padding: 0 12px;
	background: #EEE;
	border: 1px solid #DDD;
	cursor: pointer;
	margin: 0;
}

.toggle .togglet span,
.toggle .toggleta span {
	display: block;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	font-family: 'Arvo', Georgia, serif;
	color: #888;
	text-shadow: 1px 1px 1px #FFF;
	padding-left: 20px;
	background: url("images/toggle-down.png") no-repeat left;
}

.toggle .toggleta span { background: url("images/toggle-up.png") no-repeat left; }

.toggle .togglec {
	display: block;
	position: relative;
	padding: 15px;
	background: #FFF;
	border: 1px solid #DDD;
	border-top: none;
}
/*-[ Dividers ]--------------------------------*/
.divider {
	background: transparent url(images/divider.png) repeat-x scroll 0 100%;
	clear: both;
	display: block;
	margin-bottom: 20px;
	padding-top: 20px;
	width: 100%;
}
.top-of-page {
	background: url('images/divider.png') bottom repeat-x;
	font-size: 10px;
	line-height: 10px;
	text-align: right;
	margin-bottom: 25px;
	position: relative;
	clear: both;
	padding-top: 20px;
	display: block;
	padding-bottom: 10px;
}
.top-of-page a {
	height: 20px;
	position: absolute;
	right: 0;
	top: 6px;
	border:0 none;
	outline:none;
	cursor:pointer;
	color: #666;
	opacity: 0.8;
}
.top-of-page a:hover {
	opacity: 1;
}
/*-----------[Responsiveness]---------------------*/
@media screen and (max-width:1200px){
	.page {
		width: 95%;
	}
	#sidebars {
		width: 24%;
	}
	#sidebars img, #footer img, #content img {
		height: auto;
		max-width: 98%;
	}
	#commentform textarea {
		width: 90%!important;
	}
	.footer_items_1, .footer_items_2, .footer_items_3, .footer_items_4 {
		width: 23%;
		overflow:hidden;
	}
	#s {
		width: 75%;
	}
	.ad-125 li {
		max-width: 40%;
	}
	#tabber ul.tabs li a {
	}
	.subscribers-widget .subscriber-wrap {
		width: 200px;
		padding: 2px 0;
		height: 55px;
		border-left:0;
	}
	.subscriber-wrap a.subscriber-icon {
		margin-bottom: -20px;
		float: left;
	}
	.subscriber-wrap span.subscribes {
		margin-left: 60px;
		margin-top: 5px;
		display: block;
		text-align: left;
	}
	.subscriber-wrap span.subscribes-text {
		float: left;
		margin-left: 12px;
	}
}
@media screen and (max-width:1024px){
	#content {
		width: 64%;
	}
	#header {
		padding-right: 0;
	}
	.menu a {
		font-size: 14px;
		padding: 10px;
	}
	.flexslider {
		width:85%;
	}
	.flexslider .slides img {
		height: auto;
		border:none!important;
	}
	.flex-direction-nav li .next {
		right: 90px;
	}
	#sidebars {
		width: 30%;
	}
	#sidebar-left {
		display:none;
	}
	.sidebar input[type="text"], .sidebar input[type="submit"] {
		float: none;
	}
	.related-posts li {
		max-width: 31%;
		margin-right: 10px;
	}
	#tabber ul.tabs li a {
	}
}
@media screen and (max-width:768px){
	.main-navigation {
		float:right;
		width: 50%;
	}
	nav ul { display: none; }
	nav select {
		display: inline-block;
		width: 100%;
		padding: 3px;
		float:none;
		margin:5px auto;
		overflow:hidden;
	}
	.page {
		width: 95%;
	}
	#content {
		width: 100%;
		border-right:0;
	}
	#sidebars {
		width: 95%;
		max-width: 320px;
		float: left;
		padding-left: 0;
	}
	.sidebar {
		padding-left: 2%;
	}
	.flexslider {
		width:100%;
	}
	.flexslider .slides img {
		width:600px;
		height: auto;
	}
	.flex-direction-nav li .next {
		right: 14px;
	}
	.sidebar input[type="text"], .sidebar input[type="submit"] {
		float: left;
		margin-right: 10px !important;
		padding: 0.6em;
	}
	#sidebars .mts-subscribe input[type="submit"] {
		float:left;
	}
	.footer_items_1, .footer_items_2, .footer_items_3, .footer_items_4 {
		width: 47%!important;
	}
	.vimeo-video, .youtube-video {
		overflow: hidden;
	}
	.googlemaps iframe,
	.vimeo-video iframe,
	.vimeo-video object,
	.vimeo-video embed,
	.youtube-video iframe,
	.youtube-video object,
	.youtube-video embed {
		width: 100%;
		height: 100%;
	}
}
@media screen and (max-width:720px){
	.ad-125 li {
		max-width: 35%;
	}
	#tabber ul.tabs li a {
	}
}
@media screen and (max-width:520px){
	.main-navigation {
		width: 100%;
	}
	nav select {
		width:100%!important;
	}
}
@media screen and (max-width:480px){
	#header {
		overflow:visible;
	}
	.text-logo, #header img {
		margin:0 auto 15px auto;
		max-width:100%;
		overflow:hidden;
	}
	.main-navigation {
		overflow: hidden;
	}
	.flexslider {
		width: 57%;
	}
	.flex-direction-nav {
		display:none;
	}
	.headline_area h1, .headline_area h2 {
		font-size: 200%!important;
		line-height: 34px;
	}
	#content {
	}
	.featured-thumbnail img {
		width: 40%;
	}
	input#author, input#email, input#url {
		width:80%
	}
	.shareit {
		background: none!important;
		padding:0;
	}
	.share-item {
		width: 80px;
	}
	.tabs-wrapper ul.tabs li {
		margin-bottom:1px;
	}
	.tabs-wrapper ul.tabs {
		height: auto;
	}
	.sidebar_list {
		margin-left: 0!important;
	}
	.footer_items_1, .footer_items_2, .footer_items_3, .footer_items_4 {
		width: 95%!important;
	}
	.top {
		display:none;
	}
}
@media screen and (max-width:400px){
	#tabber ul.tabs li a {
	}
}
@media screen and (max-width:320px){
	#header, .main-navigation {
		float: left !important;
		width: 100%;
	}
	.flexslider {
		width: 36%;
	}
	.flex-caption {
		width:80%;
	}
	.sidebar {
		padding-left: 5%;
	}
	#s {
		width: 61%;
	}
	.headline_area h1, .headline_area h2 {
		font-size: 25px!important;
		line-height: 30px;
	}
	.headline_meta {
		display:none;
	}
	.pagination ul li {
		margin-bottom: 10px;
	}
	.related-posts li {
		max-width: 45%;
	}
}
@media screen and (max-width:240px){
	.flex-container {
		display:none;
	}
	body {
		font-size:12px;
	}
	li.widget {
		font-size:12px;
	}
	.headline_area h1, .headline_area h2 {
		font-size: 150%!important;
		line-height: 170%;
	}
	.mts-subscribe input[type="text"] {
		width: 175px;
	}
}

/* Amazon product styles front page */
.amazon_img_container {
	float: left;
	height: 100px;
	width: 100px;
}

.amazon_text_container {
	text-align: right;
	float: right;
	width: 80%;
	/*width: 99px;*/
	/*margin-top: -6px;*/
}

.amazon_details {
	float: right;
	height: 0px;
}

.amazon_price {
	color: #0d6b15;
	font-weight: bold;
}

.inflated_price {
	color: #af2215;
	font-weight: bold;
	text-decoration: line-through;
}

.amazon_prod {
	height: 140px;
	margin: 5px;
	/*border-bottom: 1px dashed #41b7d8;*/
}

.amazonimgleft {
	float: left;
	margin-right: 20px;
}

.amazonimgright {
	float: right;
	margin-left: 20px;
}

#footermenu ul,
#footermenu li,
#footermenu a {
	display: inline;
}

#footermenu li,
#footermenu a {
	float: none;
}

#footermenu {
	width: 960px;
	margin: auto;
}

.checkmarklink {
	background: url('/wp-content/themes/sensational/images/checkmark.png') no-repeat;
}

.checkmarklink a {
	padding-left: 20px;
}

.featured-post-widget li {
	display: inline-flex;
}

#product-table tbody tr td {
	padding: 5px;
	border-width: 0px;
	font-size: 1.3em;
	border-top: medium none;
	border-bottom: 1px solid #EEEEEE;
	text-align: center;
	line-height: 1.2;
	vertical-align: top;
}

#product-table thead tr th {
	color: #333333;
	background: none repeat scroll 0 0 #FFFFFF;
	font-size: 1.5em;
	letter-spacing: 0;
	line-height: 2.0;
	padding: 4px;
	text-transform: none;
	text-align: center;
	border-bottom: 1px solid #EEEEEE;
}

#product-table {
	border-collapse: collapse;
	border-width: 0px;
	border-style: outset;
	margin: 20px 0;
	line-height: 2.0em;
	text-align: center;
	vertical-align: top;
	width: 100%;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

#product-table .stars-rating {
	border: none;
	padding: 0;
}

#product-table .product-title {
	width: 35%;
}

#header h1 a,
#header h2 a {
	min-height: 44px !important;
	min-width: 250px !important;
}

.entry-content ul li {
	list-style: initial;
}

/*#recentposts .rpwe-alignleft {
	padding-right: 30px;
}*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #recentposts .rpwe-alignleft {
        padding-right: 30px;
    }
}

/*@media screen and (-webkit-min-device-pixel-ratio:0) { 
    #searchsubmit { height: 20px; }
    #s { margin-top: 5px; } 
}*/