/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {width: 100%; margin: 28px auto 0 auto; padding: 0; max-width: 630px;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 98.4%; display: block; margin:0; width: 600px; 
border: 15px solid #f8f8f8;
}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative; width:100%; margin-bottom:1.5em;}
.flex-container  a:active { background-color:transparent!important;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {padding: 2%; margin: 0; position: absolute; left: 20px;
bottom: 20px; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px; margin-bottom:10px;}
.flex-container:hover > .flex-caption { background: rgba(0,0,0,.5)!important; }

/* Direction Nav */
.flex-direction-nav { height: 0; opacity: 0.3; -webkit-transition: opacity 0.5s linear;
-moz-transition: opacity 0.5s linear;
transition: opacity 0.5s linear;}
.flex-container:hover > .flex-direction-nav  {opacity:1;}
.flex-direction-nav li a {width: 52px; height: 52px; margin: -13px 0 0; display: block; position: absolute; top: 46%; cursor: pointer; text-indent: -999em;}
.flex-direction-nav li .next {background: url(theme/scroll_right.png) no-repeat; right: 10px;}
.flex-direction-nav li .prev {background: url(theme/scroll_left.png) no-repeat; left: 10px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {
text-align: center;
position: absolute;
padding: 0 5px;
margin: 8px auto;width: 100%;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 11px; height: 11px; display: block; background: url(theme/normal.png) no-repeat; cursor: pointer; text-indent: -999em;}
.flex-control-nav li a:hover {background:url(theme/active.png) no-repeat;}
.flex-control-nav li a.active {background:url(theme/active.png) no-repeat;}